@import 'src/CSS/base';

.page_main{
    $main_height: 70vh;
    width: $page_width;
    margin: auto;
    margin-top: $margin-top;
    display: grid;
    grid-template-columns: $frame_left_width auto;
    column-gap: 8rem;


    .sect_left{
        


        width: 100%;
        height: $main_height;
        border-radius: 1.25rem;
        background: linear-gradient(345deg, #d7d7e0 -8.85%, #E9EAF2 91.28%);
        box-shadow: 13px 13px 27px 0px rgba(135, 146, 168, 0.39) inset, -9px -10px 51.8px 0px rgba(255, 255, 255, 0.932) inset;


        .perfume_liquid_pack{
            position: relative;
            height: 100%;
            width: 100%;
  
            img{
                // opacity: 0.5;
                // border: 10px soild red;
                z-index: 10;
                position: fixed;
                background: none;
            }


            .img_container {
                @include container(14.5rem, 25.75rem);
                position: absolute;
                top: 50%;
                left: 50%;
                transform:translate(-50%, -50%);
                background: none;
            }

            .selected_liquid_container{
                position: absolute;
                // background-color: blue;
                // opacity: 0.5;
                width: 4rem;
                height: 2rem;
                bottom: 10.4rem;
                left: 50%;

                position: relative;
                width: 100%;
                height: 100%;
                // transform:translateX(-42%);
                border-radius: 0.4rem;
                z-index: 1;

            }
        }
    }
    
    .sect_right{
        $btn_height: 3rem;
        position: relative;
            width: 100%;
            height: 100%;
            
            .scroll_shader_top{
                width: 97%;
                height: 3%;
                left: 0;
                top: 0;
                position: absolute;
                background: linear-gradient(180deg, rgb(228, 228, 236) 10%, #e4e4ec00 90%);
            }
            .scroll_shader_bottom{
                width: 97%;
                height: 3%;
                left: 0;
                bottom: $btn_height;
                position: absolute;
                background: linear-gradient(180deg, rgba(228, 228, 236, 0.00) 9.3%, #E4E4EC 51.16%);
                
            }

    
        .menus_container{
            
            overflow-y: scroll;
            overflow-x: hidden;
            height:calc( $main_height - $btn_height);
            padding: 1rem;
            box-sizing: border-box;

            .texts_container{
                .title{
                    @include font_huge($font: "arita");
                }
                .dscrpt{
                    @include font_default($color: $font_gray, $font: "pretendard");
                    margin-top: 1.5rem;
                }
            }

            .component_notes{
                width: 100%;
                margin-top: 3rem;
                height: min-content;
                overflow: hidden;
                .text_icon_pack{
                    display: flex;
                    align-items: center;
                    column-gap: 0.5rem;

                    .text{
                        @include font_default($color: $font_gray);

                    }
                    .icon_container{
                        @include container(1rem, 1rem);
                    }
                }
                .item_container{
                    padding: 1rem;
                    width: 100%;
                    display: grid;
                    $grid-gap: 1rem;
                    grid-template-columns:min-content min-content min-content;
                    grid-gap: $grid-gap;
                }
            }
        }
    }
}

